h1{color:#D3D3D3}
h1{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}


h2{color: #D3D3D3;}
h2{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}


body{background-color: #141414;}

p{color: #D3D3D3;}
p{font-family: 'Courier New', Courier, monospace;}

.canon{width: 500px; 
    border: solid 5px rgb(58, 58, 58); 
    margin-left: 33%;}
.abertura{width: 500px ;
    border: solid 5px rgb(58, 58, 58);
    margin-left: 33%;}
.profundidade{width: 500px;
    border: solid 5px rgb(58, 58, 58); 
    margin-left: 33%;}
.velocidade{width: 500px;
    border: solid 5px rgb(58, 58, 58);
    margin-left: 33%;}
.iso{width: 500px;
    border: solid 5px rgb(58, 58, 58);
    margin-left: 33%;}
